<div class='container-fluid'>
  <!-- <button mat-raised-button color="accent" (click)="pushItem()" class="add-button cols-2">
    Resize first item and push others
  </button> -->
  <!-- <button (click)="getItemComponent()" class="add-button cols-2" color="accent" mat-raised-button>
    Get item component in console
  </button>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
    Add
  </button> -->


  <gridster [options]="options" class="align">
    <gridster-item [item]="item" *ngFor="let item of finalCollection" (ngModelChange)="changedOptions()">
      <!-- <div class="button-holder">
        <button (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
          Delete
        </button>
      </div> -->
        <div [chart]='item' class='chart-align'></div>

    </gridster-item>
  </gridster>
</div>
