.container-fluid{
  width:92%;
  border: 3px solid red;
}

.align{
  position:relative;
  height:100%;
  width:100%;
  min-height:130vh;
}

gridster-item {
  margin-top: auto;
  margin-bottom: auto;
  min-height: auto;
}




