<div class='text-center align'>
  <label class='m-3'>Select a value: </label>
  <select [(ngModel)]='selectedValue'>
    <option selected disabled>Select a value</option>
    <option *ngFor="let value of dropdownArray" [value]='value'>
        {{value}}
    </option>
  </select>
</div>
<!-- <div class='container-fluid'>
  <div  *ngIf='selectedValue>1;else singleVal'>
    <div class='row'>
      <div class='col-6' *ngFor='let chartElem of finalCollection'>
        <div [chart]="chartElem"></div>
      </div>
    </div>
  </div>
  <ng-template #singleVal>
    <div [chart]="chart"></div>
  </ng-template>
</div> -->
<app-chart [selectedVal]='selectedValue'></app-chart>
